* {
    box-sizing: border-box;
  }
  h1 {
    font-size: 40pt;
    color: black;
  }
  body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: green;
  }
  header {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 75vh;
    background-color: #ccc;
  }
  .header {
    height: 60px;
    background-color: #ff0000;
  }
  .slider {
    flex: 1;
    overflow: hidden;
  }
  .slider--width {
    height: 100%;
    display: flex;
    transition: all ease 0.3s;
  }
  .slider--item {
    width: 100vw;
    height: inherit;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-shadow: 0px 1px 1px #333;
    font-size: 80px;
  }
  .slider--controls {
    position: absolute;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .slider--control {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

  }
